.home__content h2,
.home__content h3 {
  color: #be2020; }

.home__content--dark h2,
.home__content--dark h3 {
  color: #a08946; }

.home__content h3,
.home__content--dark h3 {
  width: 7rem;
  margin: 0.5rem auto; }

.home__content--dark span {
  color: #898989; }
